<% if @follow.errors.any? %>
  <% @follow.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit follow #<%= @follow.id %>
</h1>

<hr>

<form action="/update_follow/<%= @follow.id %>" method="post">

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @follow.status %>">
  </div>


  <div class="form-group">
    <label for="sender_id">
      Sender
    </label>

    <%= select_tag(:sender_id, options_from_collection_for_select(User.all, :id, :created_at, @follow.sender_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update follow
  </button>
</form>

<hr>

<a href="/follows">
  Go back
</a>
