<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Follow #<%= @follow.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/follows" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link follow start -->
      <div class="col">
        <% if current_user == @follow.receiver %>
          <a href="/follows/<%= @follow.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit follow
          </a>
        <% end %>
      </div>
      <!-- Edit link follow end -->

      <!-- Delete link follow start -->
      <div class="col">
        <% if current_user == @follow.receiver %>
          <a href="/delete_follow/<%= @follow.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete follow
          </a>
        <% end %>
      </div>
      <!-- Delete link follow end -->
    </div>

    <dl>
      <dt>
        Status
      </dt>
      <!-- Display status start -->
      <dd>
        <%= @follow.status %>
      </dd>
      <!-- Display status end -->

      <dt>
        Recipient
      </dt>
      <!-- Display recipient_id start -->
      <dd>
        <% if @follow.receiver.present? %>
          <a href="/users/<%= @follow.recipient_id %>">
            <%= @follow.receiver.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display recipient_id end -->

      <dt>
        Sender
      </dt>
      <!-- Display sender_id start -->
      <dd>
        <% if @follow.sender.present? %>
          <a href="/users/<%= @follow.sender_id %>">
            <%= @follow.sender.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display sender_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@follow.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@follow.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
